<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zm.mall">

    <application>
        <activity android:name=".debug.DebugMallActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>